<link rel="stylesheet" href="linker/js/datepicker/datepicker.css" type="text/css" />
 <link rel="stylesheet" href="linker/js/slider/slider.css" type="text/css" />
 <link rel="stylesheet" href="linker/css/bootstrap-fileupload.css" type="text/css" />

 <section class="vbox">
  <section class="scrollable padder">
    <div class="m-b-md">
      <h3 class="m-b-none">Nuevo Conductor</h3>
    </div>
    <div class="row">
      <div class="col-sm-7">
        <form id="wizardform" method="post"  enctype="multipart/form-data" action="/createDriver">
          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class="nav nav-tabs font-bold">
                <li><a href="#step1" data-toggle="tab">Datos personales</a></li>
                <li><a href="#step2" data-toggle="tab">Datos del vehiculo</a></li>
                <li><a href="#step3" data-toggle="tab">Confirmación</a></li>
              </ul>
            </div>
            <div class="panel-body">
              <p>Asegurate de verificar los datos del conductor. antes de insertarlos en la base de datos, tambien  recortar la foto a un tamaño de 100x100 px y una calidad optima</p>
              <div class="line line-lg"></div>
              <h4>Validacion de formulario</h4>
              <div class="progress progress-xs m-t-md">
                <div class="progress-bar bg-success"></div>
              </div>


              <div class="tab-content">
                <div class="tab-pane" id="step1">                            
                  <p>Primer nombre:</p>
                  <input  name="name" type="text" class="form-control"  data-required="true"  >
                  <p class="m-t">Primer apellido:</p>
                  <input value="" name="lastname" type="text" class="form-control" data-trigger="change" data-required="true"  >
                   <p class="m-t">Cedula de identidad:</p>
                  <input value="" name="ci" type="number" class="form-control" data-trigger="change" data-required="true"  >


               


                  <p class="m-t">Correo electronico:</p>
                  <input  name="email" type="email" class="form-control" data-trigger="change" data-required="true"  >
                  <p class="m-t">Contraseña:</p>
                  <input  name="password" type="text" class="form-control" data-trigger="change" data-required="true" >
                  <p class="m-t">Numero celular:</p>
                  <input   name="phone" type="number" class="form-control" data-trigger="change" data-required="true"  >
                   <p class="m-t">UUID:</p>
                  <input   name="uuid" placeholder="" type="text" class="form-control" data-trigger="change" data-required="true"  >
                  <p  class="m-t">Fecha de nacimiento:</p>
                  <input  name="birthday" class="input-sm input-s datepicker-input form-control" size="16" type="text"  data-date-format="dd-mm-yyyy" >        
                  <p class="m-t">Dirección de vivienda:</p>
                  <input  name="address" type="text" class="form-control" data-trigger="change" data-required="true"  >

                   <p class="m-t">Pais:</p>
                  <select  name="country" id='stateCombo'class="form-control m-b" required="true" >
                    <option value='-1'  >Selecciona un pais</option> 
                  <option value='Venezuela'  >Venezuela</option> 
                   <option value='Panama'  >Panama</option>         
                   </select>

                    <p class="m-t">Estado:</p>
                     <select  name="state" id='stateCombo'class="form-control m-b" required="true"  >
                    <option value=''  >Selecciona un Estado</option> 
                  <option value='Zulia'  >Zulia</option> 
                        
                   </select>




                     <p class="m-t">Ciudad:</p>
                        <select  name="city" id='stateCombo'class="form-control m-b" required="true"  >
                    <option value=''  >Selecciona un Municipio</option> 
                  <option value='Maracaibo'  >Maracaibo</option> 
                   <option value='San Francisco'  >San Francisco</option> 
                    <option value='Cabimas'  >Cabimas</option> 
                        
                   </select>









                </div>
                <div class="tab-pane" id="step2">

                  <p>Marca:</p>

                  <input  name="car-brand" type="text" class="form-control" data-trigger="change" data-required="true">
                  <p>Modelo:</p>
                  <input  name="car-model" type="text" class="form-control" data-trigger="change" data-required="true">
                  <p>Año:</p>
                  <input  name="car-year" type="number" class="form-control" data-trigger="change" data-required="true">
                  <p>Color:</p>
                  <input  name="car-color" type="text" class="form-control" data-trigger="change" data-required="true">
                  <p>Typo de vehiculo:</p>

                  <select name="car-type" class="form-control m-b" >
                    <option >Sedan</option>
                    <option >Hatchbach</option>
                    <option >pickup</option>
                    <option >suv</option>
                    <option >van</option>
                  </select>


                  <p>Puertas:</p>
                  <input  name="car-door" type="number" class="form-control" data-trigger="change" data-required="false">
                  <p>Cantidad de pasajeros:</p>
                  <input  name="car-cap" type="number" class="form-control" data-trigger="change" data-required="false">

                  <p>Placas del vehiculo:</p>
                  <input  name="car-plate" type="text" class="form-control" data-trigger="change" data-required="true">
                  <p>Serial del vehiculo:</p>
                  <input  name="car-serial" type="text" class="form-control" data-trigger="change" data-required="true">

                  <p>Propietario del vehiculo:</p>
                  <input name="car-owner" type="text" class="form-control" data-trigger="change" data-required="true">

                  <p>Calificacion de la inspección del vehiculo:</p>
                  <input name="car-rating" class="slider slider-horizontal form-control" type="text"  data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider- data-slider-orientation="horizontal" >



                </div>
                <div class="tab-pane" id="step3">

                     <div class="control-group">
                    <label class="control-label">Foto del conductor</label>
                    <div class="controls">
                      <div class="fileupload fileupload-new" data-provides="fileupload">

                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                          <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                        <div>  

                          <span class="btn btn-file"><span class=" btn btn-s-md btn-success fileupload-new">Selecciona un avatar</span>
                          <span class="fileupload-exists btn btn-s-md btn-default">Cambiar</span>
                          <input  name="avatar" type="file" class="default"></span>

                        </div>
                      </div>


                    </div>
                  </div>

                  <section class="scrollable wrapper">            

                    <div class="well m-t">
                      <div class="row">
                        <div class="col-xs-7">
                          <strong>Conductor:</strong>
                          <h4> <span id="confirm_name"></span><span id="confirm_lastname"></span></h4> 
                          <p>
                            <i class="i i-mail2">&nbsp</i><span id="confirm_email"></span><br>
                            <i class="fa fa-lock">&nbsp  &nbsp</i><span id="confirm_password"></span><br>
                            <i class="i i-phone">&nbsp</i><span id="confirm_phone"></span><br>
                            <i class="fa fa-calendar">&nbsp </i>  <span id="confirm_birthday"></span><br>
                            <i class="i i-mail2">&nbsp</i><span id="confirm_addres"></span><br>
                          </p>
                        </div>
                        <div class="col-xs-5">
                          <strong>Vehiculo:</strong>
                          <br>
                          <p>
                            Marca: <span id="confirm_car-brand"></span><br>
                            Modelo: <span id="confirm_car-model"></span> - <span id="confirm_car-year"></span><br>
                            Color: <span id="confirm_car-color"></span><br>
                            Placas: <span id="confirm_car-plate"></span><br>
                            Serial: <span id="confirm_car-serial"></span><br>
                          
                           
                          </p>
                        </div>
                      </div>
                    </div>    
                  </section>
                  <button type="submit" class="btn btn-s-md btn-info">Enviar Registro</button>
            



                </div>
                <ul class="pager wizard m-b-sm">
                  <li class="previous first" style="display:none;"><a href="#">First</a></li>
                  <li class="previous"><a href="#">Previous</a></li>
                  <li class="next last" style="display:none;"><a href="#">Last</a></li>
                  <li class="next"><a href="#">Next</a></li>
                </ul>
              </div>




            </div>
          </div>
        </form>
      </div>

    </div>              
  </section>
</section>



<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<!--SCRIPTS END-->


<% script('linker/js/bootstrap-fileupload.js') %>

<% script('linker/js/slider/bootstrap-slider.js') %>
<% script('linker/js/datepicker/bootstrap-datepicker.js') %>
<% script('linker/js/parsley/parsley.min.js') %>
<% script('linker/js/wizard/jquery.bootstrap.wizard.js') %>
<% script('linker/js/wizard/demo.js') %>






