<!-- SCRIPTS -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="linker/js/maps/gmaps.js"></script>
<script src="linker/js/maps/demo.js"></script>
<!--SCRIPTS END-->



        
  
              <section class="hbox stretch">
                <section id="mapa" style="min-height:240px;">          
                </section>
              <aside class="aside-md bg-primary dker" id="sidebar">
    <section class="vbox animated fadeInRight">
        <section class="scrollable">

          
            <h4 class="font-thin text-white padder m-b-none m-t">Taxistas</h4>
            <div class="wrapper text-u-c"><strong>Online</strong>
            </div>
            <ul class="list-group no-bg no-borders auto m-b-none">
                <li class="list-group-item">
                    <div class="media">
                        <a href="#" class="pull-right m-t-sm"> <span class="badge badge-empty">4</span> </a> <span class="pull-left thumb-sm avatar"> <img src="images/a3.png" alt="..." class="img-circle"> <i class="on b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Julien Reowo</a>
                            </div> <small class="text-muted">14 sec ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item active">
                    <div class="media">
                        <a href="#" class="pull-right m-t-sm"> <span class="badge badge-empty">8</span> </a> <span class="pull-left thumb-sm avatar"> <img src="images/a2.png" alt="..."> <i class="on b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">James Conlan</a>
                            </div> <small class="text-muted">15 min ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <a href="#" class="pull-right m-t-sm"> <span class="badge badge-empty">3</span> </a> <span class="pull-left thumb-sm avatar"> <img src="images/a1.png" alt="..."> <i class="busy b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Dan Doorack</a>
                            </div> <small class="text-muted">30 min ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <a href="#" class="pull-right m-t-sm"> <span class="badge badge-empty">6</span> </a> <span class="pull-left thumb-sm avatar"> <img src="images/a0.png" alt="..."> <i class="away b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Lauren Taylor</a>
                            </div> <small class="text-muted">40 min ago</small> </div>
                    </div>
                </li>
            </ul>
            <div class="wrapper text-u-c"><strong>Offline</strong>
            </div>
            <ul class="list-group no-bg no-borders auto">
                <li class="list-group-item">
                    <div class="media"> <a href="#" class="pull-right m-t-sm"><i class="i i-phone"></i></a> <span class="pull-left thumb-sm avatar"> <img src="images/a4.png" alt="..." class="img-circle"> <i class="off b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Julien Reowo</a>
                            </div> <small class="text-muted">14 sec ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media"> <a href="#" class="pull-right m-t-sm"><i class="i i-phone"></i></a> <span class="pull-left thumb-sm avatar"> <img src="images/a5.png" alt="..."> <i class="off b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Amanda Conlan</a>
                            </div> <small class="text-muted">15 min ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media"> <a href="#" class="pull-right m-t-sm"><i class="i i-phone"></i></a> <span class="pull-left thumb-sm avatar"> <img src="images/a6.png" alt="..."> <i class="off b-white bottom"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Dan Doorack</a>
                            </div> <small class="text-muted">30 min ago</small> </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media"> <a href="#" class="pull-right m-t-sm"><i class="i i-phone"></i></a> <span class="pull-left thumb-sm avatar"> <img src="images/a7.png" alt="..."> <i class="off b-white right"></i> </span>
                        <div class="media-body">
                            <div><a href="#">Lauren Taylor</a>
                            </div> <small class="text-muted">40 min ago</small> </div>
                    </div>
                </li>
            </ul>
        </section>
    </section>
</aside>
              </section>
                 
   
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
       